* {
	/* remove all blank space in a browser compatible way. taken from a stack overflow answer*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body, input, textarea {

	background-color: #f9fdff;	
	font-family: 'Raleway', sans-serif;
	color: #085191;
	height: 100%;
	box-sizing: border-box;
}

#gladys-pic {
	border: 2px solid #085191;
	box-shadow: 1px 3px 5px #085191;
	margin-right: 60px;
	margin-bottom: 60px;
	width: 25%;
}

#contact-links-list {
	margin: 10px;
	padding: 20px;
}

#contact-links-list td {
	min-width: 40px;
}

#contact-form {
	border: 1px solid #42bbc9;
	box-shadow: 1px 3px 5px #085191;
	width: 80%;
	padding: 30px;
}

#contact-form input,
#contact-form textarea {
	border: 1px solid #085191;
	color: #085191;
	margin-top: 10px;
}

#btn-contact-form {
	background-color: #fff;
	color: #35a6b7;
	border: 1px solid #085191;
	font-size: 25px;
	padding: 10px;
	border-radius: 10px;
	display: block;
	margin: auto;
}

#btn-contact-form:hover{
	background-color: #42bbc9;
	border: 1px solid #42bbc9;
	color: #fff;
}

#btn-contact-form:active{
	background-color: #085191;
	border: 1px solid black;
	color: #fff;
	box-shadow: 0px 2px #3c5b77;
	transform: translateY(1px);
}

#msg-contact-form {
	width: 100%;
	height: 100px;
	resize: vertical;
}


a:link {
	color: #42bbc9;
}

a:hover {
	color: #085191;
}

a:active {
	color: black;
}


#menu {
	width: 18%;
	float: left;
}

.menuBtn {
	text-align: right;
	color: #085191;
	font-family: 'Raleway', sans-serif;
	display: block;
	position: relative;
	width: 100%;
	background-color: #fff;
	font-size: 2em;
	padding: 10px 20px;
	border: 1px solid #085191;
	border-radius: 0px 20px 20px 0px;
	box-shadow: 1px 4px 10px #085191;
}


#header, footer {
	position: relative;
	/* margin: 30px;
	background-color: #fff; */
	background-color: #42bbc9;
	color: #fff;
	font-size: 3em;
	padding: 25px 25px;
	text-align: left;
	/* border: 1px solid #085191;
	border-radius: 15px; */
	box-shadow: 0px 4px 10px #085191;
	letter-spacing: 1px;
	text-shadow: 2px 2px 5px #085191;
	
}



footer {
	clear: both;
	position: absolute;
	bottom: 0;
	height: 60px;
	min-height: 100%;
}


#belowHeader {
	border: 0px;
	width: 100%;
	height: 100%;
	margin-top: 3%;
}

#belowHeader h1 {
	font-size: 2.5em;
	margin-bottom: 30px;
	color: #2693a0;
	text-shadow: 1px 1px 1px #085191;
}

#belowHeader h2 {
	font-size: 1.5em;
	color: #2693a0;
	margin: 30px 0px;
}

.projectList li {
	margin: 10px 0px 10px 50px;
}


#mainContent {
	width: 72%;
	position: absolute;
	float: right;
	margin-left: 20%;
	margin-top: 2%;
	margin-bottom: 3%;
	font-size: 1.25em;
	/*border: 1px solid #085191;
	max-height: 400px;
	border-radius: 30px;
	box-shadow: 0 0 5px #2693a0; 
	padding: 30px 40px;*/
}

.italic {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	
	-webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
}


input[type="text"] {
	font-size: 20px;
}



